.image{
    margin:100px ;
 background-color: bisque;

}
.image_title{
    
    border-bottom: solid 2px black;
    text-align: center;

}

.image_container{
    display: flex;
    flex-wrap: wrap;
    padding:30px;
    gap:20px;
    

}
.image_container img{

    height: 200px;
    width : 200px;
    
    flex-basis: 20%;
  
    
}
img:hover{
    border: solid 5px black;
    transform: rotate(360deg);
    transition-duration: 2s;
}
